<h1>Input Form 1</h1>

<form [formGroup]="theForm">
    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName">
    <app-validation-message-display 
        controlDisplayName="First name"
        [controlToValidate]="theForm.controls['firstName']"></app-validation-message-display>

    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="lastName">
    <app-validation-message-display 
        controlDisplayName="Last name"
        [controlToValidate]="theForm.controls['lastName']"></app-validation-message-display>

    <label for="email">Email: </label>
    <input id="email" type="text" formControlName="email">
    <app-validation-message-display 
        controlDisplayName="Email"
        [controlToValidate]="theForm.controls['email']"></app-validation-message-display>

    <label for="status">Status: </label>
    <select id="status" formControlName="status">
        <option value="">(not selected)</option>
        <option value="active">Active</option>
        <option value="inactive">Inactive</option>
    </select>
    <app-validation-message-display 
        controlDisplayName="status"
        [controlToValidate]="theForm.controls['status']"></app-validation-message-display>

    <label for="favoriteNumber">Favorite Number: </label>
    <input id="favoriteNumber" type="text" formControlName="favoriteNumber">

    <label for="leastFavoriteNumber">Least Favorite Number: </label>
    <input id="leastFavoriteNumber" type="text" formControlName="leastFavoriteNumber">

    <app-textbox-field [parentForm]="theForm" controlName="textbox1"></app-textbox-field>

    <p></p>

    <button type="button" [disabled]="!theForm.valid" (click)="save()">Save</button>
    <button type="button" (click)="populateWithData(true)">Populate with All Data</button>
    <button type="button" (click)="populateWithData(false)">Populate with Some Data</button>
</form>