<h1>Sample Code: Angular Typed Reactive Form with Child Controls &amp; Validation</h1>
<h3><a href="https://www.benday.com/2023/05/25/sample-code-angular-typed-reactive-form-with-child-components-validations/"
    target="_blank">blog post</a> | <a href="https://github.com/benday-inc/AngularChildComponentsWithValidation" target="_blank">source code</a></h3>

<form [formGroup]="theForm">
    <table>
        <tr>
            <td class="form-cell" rowspan="2">
                <fieldset>
                    <label for="first-name">First Name: </label>
                    <input id="first-name" type="text" formControlName="firstName">
                    <app-validation-message-display controlDisplayName="First name"
                        [controlToValidate]="theForm.controls['firstName']"></app-validation-message-display>
                    <button type="button" (click)="toggleFirstNameField()">Disable / Enable Field</button>

                    <label for="last-name">Last Name: </label>
                    <input id="last-name" type="text" formControlName="lastName">
                    <app-validation-message-display controlDisplayName="Last name"
                        [controlToValidate]="theForm.controls['lastName']"></app-validation-message-display>

                    <label for="email">Email: </label>
                    <input id="email" type="text" formControlName="email">
                    <app-validation-message-display controlDisplayName="Email"
                        [controlToValidate]="theForm.controls['email']"></app-validation-message-display>

                    <label for="status">Status: </label>
                    <select id="status" formControlName="status">
                        <option value="">(not selected)</option>
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                    </select>
                    <app-validation-message-display controlDisplayName="status"
                        [controlToValidate]="theForm.controls['status']"></app-validation-message-display>

                    <label for="favoriteNumber">Favorite Number: </label>
                    <input id="favoriteNumber" type="text" formControlName="favoriteNumber">

                    <label for="leastFavoriteNumber">Least Favorite Number: </label>
                    <input id="leastFavoriteNumber" type="text" formControlName="leastFavoriteNumber">

                    <app-textbox-field [parentForm]="theForm" controlName="textbox1"
                        #textbox1
                        displayName="Textbox 1"></app-textbox-field>

                    <button type="button" (click)="toggleTextbox1Field()">Disable / Enable Field</button>

                    <app-textbox-field [parentForm]="theForm" controlName="textbox2"
                        displayName="Textbox 2"></app-textbox-field>

                    <app-combobox-field [parentForm]="theForm" controlName="combobox1"
                        displayName="Combobox 1"></app-combobox-field>

                    <button type="button" (click)="addComboboxOption()">Add Combobox Option</button>

                    <div>
                        Combobox value changed message:
                        <br />{{comboboxChangeMessage}}
                    </div>

                    <app-checkbox-field [parentForm]="theForm" controlName="checkbox1"
                        (valueChanged)="checkbox1Changed($event)"
                        displayName="Checkbox 1"></app-checkbox-field>

                    <app-checkbox-field [parentForm]="theForm" controlName="checkbox2"
                        displayName="Checkbox 2"></app-checkbox-field>
                </fieldset>
            </td>
            <td style="padding-left: 2em;" class="button-cell">
                <h3 *ngIf="!theForm.valid"><b>Form is <u>invalid</u></b></h3>
                <h3 *ngIf="theForm.valid"><b>Form is valid</b></h3>
                <button type="button" class="action-button" (click)="populateWithData(false)">Populate with Some
                    Data</button>
                <br />
                <button type="button" class="action-button" (click)="populateWithData(true)">Populate with All
                    Data</button>
                <br />
                <button type="button" class="action-button" (click)="getValidationSummary()">Display Validation
                    Summary</button>
                <br />
                <button type="button" class="action-button" (click)="reset()">reset</button>
                <br />
                <button type="button" class="action-button" [disabled]="!theForm.valid" (click)="save()">Save</button>
            </td>
        </tr>
        <tr>
            <td class="messages-cell">
                <p>
                    <b>Validation Summary</b>:
                    <br />
                    {{validationSummary}}
                </p>
                <p>
                    <b>Output from Save</b>:
                    <br />
                    {{saveOutput}}
                </p>
            </td>
        </tr>

    </table>
</form>