form {
    padding-top: 1rem;
  }
  
  label {
    display: block;
    margin: .5em 0;
    font-weight: bold;
  }

  .action-button {
    width: 300px;
  }

  .button-cell {
    text-align: center;
    vertical-align: top;
  }

  .messages-cell {
    text-align: center;
    vertical-align: top;
    max-width: 50%;
  }

  .form-cell {
    width: 55%;
  }