<ng-container [formGroup]="parentForm">
    <label for="{{controlName}}">{{displayName}}: </label>
    
    <select id="{{controlName}}" type="text" formControlName="{{controlName}}"
    (change)="selectionChanged($event)"
    >
      <option value="" disabled selected>(select an option)</option>
      <option *ngFor="let option of availableValues" [ngValue]="option.key">
        {{ option.value }}
      </option>
    </select>
    <div *ngIf="!parentForm.controls[controlName]?.valid" class="validation-message">
        not valid
    </div>
</ng-container>